# Configuración General del Servidor
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Base de Datos (PostgreSQL en Docker)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=restaurante_el_fogon
# URL de conexión para Prisma (usar 'db' en docker, o 'localhost' si corres local sin docker)
DATABASE_URL=postgresql://postgres:postgres@db:5432/restaurante_el_fogon?schema=public

# Seguridad (JWT)
JWT_ACCESS_SECRET=tu_secreto_super_seguro_de_acceso_123!
JWT_REFRESH_SECRET=tu_secreto_super_seguro_de_refresh_321!
